<div class="grid-item isotope-item {{classes}}">
    <a href="#">
        <img src="{{thumbSrc}}" data-largesrc="{{src}}" alt="{{alt}}"/>
        <span class="desc">{{description}}</span>
    </a>
</div>
